<div class="searchArea">
    <div class="where ">
        <div class="whereLayer">
            <p class="poppins-regular whereText">Where to</p>
            <input class="searchbar poppins-regular" name="searchbar" type="text" placeholder="Search destinations">

            <!-- an empty list for the JS to filter search results -->
            <div id="searchPanel">

                <ul class="listOfSpaces hidden">
                    <p class="poppins-regular hidden" id="suggestions"> Suggested destinations</p>
               
                </ul>
            </div>
            
        </div>
        
    </div>

    <div class="verticalLine"></div>

    <div class="fore">
        <p class="poppins-regular">For</p>
        <input class="timePeriod poppins-regular" name="timePeriod" type="text" placeholder="Time period">

        <div id="timePanel">

            <ul class="listOfTimings hidden">
                <p class="poppins-regular" id="aroundPeriod">Your stay would be around</p>

                <i class="fa-solid fa-clock"></i>
                <li class="timings
                poppins-regular">10-20 minutes</li>
                <br>
                <i class="fa-solid fa-clock"></i>
                <li class="timings poppins-regular">20-30 minutes</li>
                <br>
                <i class="fa-solid fa-clock"></i>
                <li class="timings poppins-regular">30-40 minutes</li>
                <br>
                <i class="fa-solid fa-clock"></i>
                <li class="timings poppins-regular">40-50 hour</li>
                <br>
                <i class="fa-solid fa-clock"></i>
                <li class="timings poppins-regular">1 hour</li>
                <br>
                <i class="fa-solid fa-clock"></i>
                <li class="timings poppins-regular">2 hours</li>
                <br>
                <i class="fa-solid fa-clock"></i>
                <li class="timings poppins-regular">3 hours</li>
           
            </ul> 
        </div>

    </div>

    <div class="searchIcon poppins-regular ">
        <i class="fa-solid fa-magnifying-glass"></i>
        <p class="nbsp hidden">&nbsp;</p>
    </div>
</div>    

<hr>

<div class="maneuverBar">
    <div class="categories">
        <ul class="listOfCategories">
            <li >
                <i class="fa-solid fa-fire-flame-curved  categoryIcon"></i>
                <br>
                
                <button id="category" class="categoryBtn poppins-regular clickedBtn" data-name="Spaces">
                    Trending
                </button>
            </li>
            <li >
                <button id="category" class="categoryBtn poppins-regular" data-name="Entertainment">
                    Entertainment
                </button>
            </li>
            <li >
                <button id="category" class="categoryBtn poppins-regular" data-name="Travel">
                    Travel
                </button>
            </li>
            <li >
                <button id="category" class="categoryBtn poppins-regular" data-name="Stays">
                    Stays
                </button>
            </li>
            <li >
                <button id="category" class="categoryBtn poppins-regular" data-name="Institutions">
                    Institutions
                </button>
            </li>
            <li >
                <button id="category" class="categoryBtn poppins-regular" data-name="Care">
                    Care
                </button>
            </li>
        </ul>
    </div>
    
    <div class="filterBox">
        <button class="filter poppins-regular">
            <i class="fa-solid fa-sliders"></i>
            &nbsp;Filters
        </button>
    </div>
</div>
