<% layout("/layouts/boilerplate") %>

<body>
    <h2 class="poppins-semibold">
        We would love to add your place to our listings
    </h2>


    <form class="createForm" method="post" action="/listings">
        <input type="text" name="listing[title]" placeholder="Name of listing">

        <textarea type="text" name="listing[description]" placeholder="description"></textarea>

        <input type="number" name="listing[price]" placeholder="price in INR">
        <input type="text" name="listing[location]" placeholder="Location">

        <input type="text" name="listing[country]" placeholder="Country">

        <button type="submit" class="Createbtn">Create</button>
    </form>

    
</body>
