
/* ============ fonts =========== */
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
  
.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}
  
.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}
/* =============================== */


*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: border-box;
}
body{
    background-color:#F7F7F7 ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
button{
    background-color: #F7F7F7 ;
    padding: 4px 12px;
    border-radius: 15px;
    color: #FF5A5F;
    border: 1.5px solid #1E293B;
    font-size: 1.2rem;    
}
button:hover{
    background-color: #FF5A5F ;
    color: #F7F7F7; 
}
h1{
    color: #FF5A5F;
}
.editListing{
    margin: 4px 0 6px 10px;
}
.deleteListing{
    margin: 4px 0 6px 10px;
}


/* =============== navbar ================ */
.navbar-brand{
    background-image: url("/static/images/Blue___Red_Elegant_Aesthetic_Sky_Illustration_Agency_Logo-removebg-preview.png");
    background-size: cover;
    height: 50px;
    width: 108px;
}
.navbar{
    height: 80px;
    background-color: #F7F7F7;
    
}
.nav-link{
    color: #1E293B !important;
}
.nav-link:hover{
    font-weight: 600;   
}
.collapse{
    justify-content: center;
    align-items: center;
    padding-right: 108px;
}


/* ============= boilerplate.ejs ========== */
.title{
    text-align: center;
}

/* ============= listing.ejs ============== */
.listingContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 3rem 20px;
}
.listingTitle{
    text-decoration: none;
    color: black;
}
.listOfTitles{
    list-style: none;
}
.listingTitle:hover{
    /* font-size: 1.1rem; */
    color: #FF5A5F;
}
.night{
    display: inline;
    font-weight: 200;
}
.listingPrice{
    display: inline;
}
.listOfTitles{
    display: inline;
}
.imageContainer{
    display: inline-block;
}
.card-img-top{
    height: 240px;
    width: 255px;
    border-radius: 10px;
    object-fit: cover;
}


/* ============= newListings.ejs =========== */
.newListings-title{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}
.createForm{
    width: 70%;
    margin: auto;
    margin-top: 35px;
}
.createForm p{
    display: inline;
}
.createForm input{
    display: block;
    height: 30px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 7px;
    padding: 7px;
    color: #0d0d11e5;
    border: 1px solid #acabab;
}
.createForm textarea{
    height: 100px;
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 7px;
    color: #0d0d11e5;
    border-radius: 7px;
    border: 1px solid #acabab;
}
.createBtn{
    margin: 15px 0;
}
#comment{
    padding: 0.5rem;
}
.allReviews{
    width: 70%;
    margin: auto;
}


/* ================ Show.ejs ================== */
.showContainer, .reviewBox{
    width: 65%;
    margin: auto;
}
.show-title{
    width: 65%;
    margin: auto;
    margin-top: 2rem;
}
.showImgContainer{
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-top: 1.5rem;
}
.showImg{
    height: 420px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.showTextContainer{
    margin-top: 1.5rem;
}
.commentBox{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.submitBtn{
    margin-top: 1rem;
}

/* =============== Error.ejs =============== */
.errorContainer{
    width: 60%;
    margin: auto;
}
.errorName{
    color: #1E293B;
    font-size: 3rem;
}
.statusCode{
    color: #FF5A5F;
    font-size: 2rem;
}


/* =============== footer =============== */
footer{
    width: 100%;
    padding-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #1E293B;
    color: white;
}
.upperFoot{
    display: flex;
    padding: 4px 0 ;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}
.addInfo ul{
    display: flex;
    align-items: center;
}
.addInfo li a{
    margin: 0 6px;
    padding-right: 17px;
    text-decoration: none;
    color: #1E293B;
}
.firstHalf{
    display: flex;
}
.socialInfo i{
    font-size: 1.5rem;
    margin-bottom: 10px;
    padding-left: 4px;
}