<% layout("../layouts/boilerplate.ejs") %>

<body>

    <!-- <h2 class="poppins-semibold">
        Welcome to 
        <h1 class="poppins-semibold">
            Cozy Clouds!
        </h1>
    </h2> -->

    <form method="get" action="/listings">
        <button type="submit" class=" poppins-regular">All listings</button>
    
    </form>
    <br>
    <form method="get" action="/listings/new">
        <button type="submit" class="book poppins-regular">New listing!</button>
    </form>

</body>
