<% layout("../layouts/boilerplate.ejs") %>

<body>
    <h2 class="poppins-regular">
        Our available listings
    </h2>

    <ul>
        <% for(let listing of allListings){ %> 
            <li class="poppins-regular">

                <a class="listingTitle" href="/listings/show/<%= listing._id %>">
                    <%= listing.title %>
                </a>

            </li>   
        <% } %>
    </ul>

</body>