<% layout("../layouts/boilerplate.ejs") %>

<h2 class="newListings-title poppins-regular">Welcome back! We missed you</h2>

<form class="createForm" method="POST" action="/signup" novalidate>

    <p>Username</p>
    <input class="inputBox poppins-regular" type="text" name="username" placeholder="your username" required>

    <p>Password</p>
    <input class="inputBox poppins-regular" type="password" name="password" placeholder="your password" required>

    <button type="submit" class="poppins-regular createBtn">Sign up!</button>

</form>