<% layout("../layouts/boilerplate.ejs") %>

<body>
    <h2 class="newListings-title poppins-regular">
        We would love to add your place <br> to our travel destinations
    </h2>


    <form class="createForm" method="post" action="/listings" novalidate>
        <p>Title</p>
        <input class="inputBox poppins-regular" type="text" name="listing[title]" placeholder="Name of listing" required>

        <p>Description</p>
        <textarea class=" poppins-regular" type="text" name="listing[description]" placeholder="description" required></textarea>

        <p>Image link</p>
        <input class=" poppins-regular" type="text" placeholder="Enter the Image Link">


        <p>Price</p>
        <input class=" poppins-regular" type="number" name="listing[price]" placeholder="price in INR" required>

        <p>Location</p>
        <input class=" poppins-regular" type="text" name="listing[location]" placeholder=" Enter location" required>

        <p>Country</p>
        <input class=" poppins-regular" type="text" name="listing[country]" placeholder="Enter country" required >

        <button type="submit" class="poppins-regular createBtn">Create</button>
    </form>

    
</body>
